{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $name := "" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "What is the name associated with this account" -}}
{{- end -}}
{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "What is the email associated with this account" -}}
{{- end -}}
[data]
  osid = {{ $osid | quote }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
