{{- $osType := .chezmoi.os -}}
{{- $osSubType := "" -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osSubType = .chezmoi.osRelease.id -}}
{{- end -}}
{{- $hasGui := promptBoolOnce . "hasGui" "Does this environment have a GUI" -}}
{{- $unixLike := eq .chezmoi.os "linux" "darwin" }}
[data.os]
  type = {{ $osType | quote }}
  subtype = {{ $osSubType | quote }}
  hasGui = {{ $hasGui }}
  unixLike = {{ $unixLike }}

{{ $name := promptStringOnce . "name" "What is the name associated with this account" -}}
{{- $email := promptStringOnce . "email" "What is the email associated with this account" -}}
[data.git]
  name = {{ $name | quote }}
  email = {{ $email | quote }}