[alias]
  cleanup = "!git fetch && git branch --merged | egrep -v 'master' | xargs git branch -d"
  pf = "push --force-with-lease"
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
  prune = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[push]
  default = current
[user]
  email = {{ .email }}
  name = {{ .name }}
