{{- if eq .chezmoi.os "linux" "darwin" -}}
#!/bin/bash
ASDF_PATH=~/.asdf
{{ if not (lookPath "asdf")}}
echo "ASDF not installed; installing."
git clone https://github.com/asdf-vm/asdf.git $ASDF_PATH --branch v0.10.0

{{ if eq .chezmoi.os "darwin" }}
echo ". $ASDF_PATH/asdf.sh" >> ~/.bash_profile
echo ". $HOME/.asdf/completions/asdf.bash" >> ~/.bash_profile
source ~/.bash_profile
{{ end }}

# Add fish shell auto-completions
mkdir -p ~/.config/fish/completions
ln -s $ASDF_PATH/completions/asdf.fish ~/.config/fish/completions
{{ end -}}

# Reference: https://github.com/marcus-crane/dotfiles/blob/main/run_once_04_packages-asdf.sh.tmpl
{{ $plugins := dict
  "nodejs" "lts"
}}

{{ range sortAlpha (keys $plugins) -}}
asdf plugin-add {{ . }}
asdf install {{ . }} {{ get $plugins . }}
asdf global {{ . }} {{ get $plugins . }}
{{ end -}}

# NPM
{{ $npmPackages := list
  "diff-so-fancy"
}}

[ ! -d ~/.npm-global ] && mkdir ~/.npm-global
npm config set prefix '~/.npm-global'
{{ range sortAlpha $npmPackages -}}
npm install -g {{ . }}
{{ end -}}
{{ end -}}
