{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
{{- $extensions := include ".config/vs-code-extensions.txt" -}}
# Extensions hash: {{ $extensions | sha256sum }}
{{- range ($extensions | splitList "\n" | sortAlpha | compact | uniq ) }}
code --install-extension {{ . }}
{{- end -}}
{{ end -}}
