{{- if eq .chezmoi.os "linux" "darwin" -}}
#!/bin/bash
# Reference: https://github.com/marcus-crane/dotfiles/blob/main/run_once_04_packages-asdf.sh.tmpl
asdf update
{{ $plugins := dict
  "nodejs" "16.15.0"
-}}

{{ range sortAlpha (keys $plugins) -}}
asdf plugin add {{ . }}
asdf install {{ . }} {{ get $plugins . }}
asdf global {{ . }} {{ get $plugins . }}
{{ end -}}

# NPM
{{ $npmPackages := list
  "diff-so-fancy"
-}}

mkdir -p ~/.npm-global
npm config set prefix '~/.npm-global'
{{ range sortAlpha $npmPackages -}}
npm install -g {{ . }}
{{ end -}}
{{ end -}}
