{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# TODO: Check the actual OS instead of just "linux"
{{ if lookPath "apt" }}
{{ $packages := list
  "curl"
  "git"
  "vim"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}apt install -y {{ $packages | join " " }}
{{ end }}

# TODO: Consider pulling this into own script?
# ASDF
if [ ! -d "~/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.0
  mkdir -p ~/.config/fish/completions
  ln -s ~/.asdf/completions/asdf.fish ~/.config/fish/completions
fi
{{ end -}}
