{{- if (eq .chezmoi.os "windows") -}}
# TODO: Figure out how to get this working correctly.
# Even though WSL is easy to install, it often involves a series of reboots.
# Supposedly `wsl --install` is supposed to handle a bunch of different checks
# regarding enabled system features ... but in practice I found this was not
# the case.
# Details on installing WSL the "easy way": 
# https://devblogs.microsoft.com/commandline/install-wsl-with-a-single-command-now-available-in-windows-10-version-2004-and-higher/

# Keeping this script here in hopes that WSL install can eventually be automated.
# $UbuntuInstalled = wsl -l | Where {$_.Replace("`0","") -match '^Ubuntu'}

# if (-not $UbuntuInstalled) {
#  wsl --install -d Ubuntu
# }
{{end -}}
