# Hide fish greeting
set fish_greeting

# Path
fish_add_path ~/bin
{{ if and (eq .chezmoi.os "darwin") -}}
# Add `brew` to path
eval (/opt/homebrew/bin/brew shellenv)
{{ end -}}

# Environment variables
set -gx EDITOR vim

# TODO: Fix this.
# Use different directory colours
{{- $dircolors := "dircolors " -}}
{{ if lookPath "gdircolors" -}}
{{   $dircolors = "gdircolors " }}
{{ end }}
eval ({{ $dircolors }} -c ~/.dircolors/dircolors.ansi-dark)

# Activate mise
fish_add_path ~/.local/bin/
if status is-interactive
  mise activate fish | source
else
  mise activate fish --shims | source
end