# Use different directory colours
eval (dircolors -c ~/.dircolors/dircolors.ansi-dark)

# Hide fish greeting
set fish_greeting

# Path
fish_add_path ~/bin
fish_add_path ~/.npm-global

# Environment variables
set -gx EDITOR vim

# ASDF completions
source ~/.asdf/asdf.fish
