# Hide fish greeting
set fish_greeting

# Path
fish_add_path ~/bin
fish_add_path ~/.npm-global
{{ if and (eq .chezmoi.os "darwin") -}}
# Add `brew` to path
eval (/opt/homebrew/bin/brew shellenv)
{{ end -}}

# Environment variables
set -gx EDITOR vim

set -x ASDF_DIR ~/.asdf
if test -e $ASDF_DIR
  source $ASDF_DIR/asdf.fish
  if not test -e $HOME/.config/fish/completions
    mkdir -p ~/.config/fish/completions; and ln -s ~/.asdf/completions/asdf.fish ~/.config/fish/completions
  end
end

# Use different directory colours
{{- $dircolors := "dircolors " -}}
{{ if lookPath "gdircolors" -}}
{{   $dircolors = "gdircolors " }}
{{ end }}
eval ({{ $dircolors }} -c ~/.dircolors/dircolors.ansi-dark)

# Direnv
direnv hook fish | source
