#!/bin/bash
{{ if .os.hasGui }}
{{- $extensions := include ".chezmoitemplates/vscode/extensions.jsonc" -}}
# This line is required so that this script is only run when the
# list of extensions changes.
# Extensions hash: {{ $extensions | sha256sum }}
{{- range ($extensions | fromJsonc | uniq ) }}
code --install-extension {{ . }}
{{- end -}}
{{ end -}}
